@import url('http//db.onlinewebfonts.com/c/82848488b73a87d72f2436c02b9ab608?family=ONE+PIECE');

body{
    margin:0;
    border:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ONE PIECE ;
    /* background-image: url('../assets/background');
    background-size: 2em 2em; */
}


.logo{
    font-size: 15rem;
}
.logo2{
    font-size: 6rem;
}
.start-button{
    margin-top: -1em;
    background-color:#272838 ;
    color: #f8de3c;
    border: 2px solid #105edd;
    font-size: 1.3rem;
    height: 5em;
    width: 10em;
}

.restart-button{
    background-color:#272838 ;
    color: #f8de3c;
    border: 2px solid #105edd;
    font-size: 1.3rem;
    height: 2em;
    width: 4em;
}

.initial-button{
    background-color:#272838 ;
    color: #f8de3c;
    border: 2px solid #105edd;
    font-size: 1.3rem;
    height: 2em;
    width: 5em;
}

.button-start{
    display: flex;
    justify-content: center;
}

.game-button{
    background-color:#272838 ;
    color: #f8de3c;
    border: 2px solid #105edd;
    font-size: 1.3rem;
    height: 2em;
    width: 6em;
}

.game-button:hover{
    background-color:#105edd ;
    color: #f8de3c;
    border: 2px solid #0b3075;
}

.select-players{
    border: 10px solid #412a1e;
    border-radius: 10%;
    height: 20em;
    width: 80%;
    background-color: #c8472c;    
    display: flex;
    flex-direction: column;
}

.select-number-players{
    margin-top: 3em;
}

.radio-check:checked{
    border-color: #f8de3c;
    background-color: #f8de3c;
}

.player-vs-player{
    display: flex;
    justify-content: end;
}

/* .logo{
    background-image: url("../assets/logo.png");
    width: 10em;
    height: 7em;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-logo{
    height: auto;
    max-width: 100%;
} */

.bg-color-lseagreen{
    background-color: #f8de3c;
}
.tic{
    color: #58acf4;
}
.toe{
    color: #0b3075;
    margin-top: -0.5em;
}
.tac{
    color:  #f8de3c
}

.lsalmon{
    color: lightsalmon;
}

.bg-color-lsalmon{
    background-color: #412a1e;
}


.main{
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 10px solid #412a1e;
    border-radius: 10%;
    height: 16em;
    background-color: #c8472c;
}

.how-to{
    margin-top: 1em;
    font-size: 0.8rem;
    cursor: help;
    color: #f8de3c
}

.main p{
    font-size: 7rem;
}

.top-title{
    margin-left: -1.8em;
}

.title{
    padding-left: 2em;

}

.winner-winner{
    margin-top: 6em;
    position: absolute;
    z-index: 999;
    width: 100%;
    border: 10px solid #412a1e;
    border-radius: 8%;
    height: 16em;
    background-color: #c8472c;
}

.start-button:hover{
    background-color:#105edd ;
    color: #f8de3c;
    border: 2px solid #0b3075;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea{
    height: 0.1em;
    width: 30%;
    background-color: black;
}

.cell{
    height: 8em;
    width: 8em;
    border: 3px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-row1{
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.border-row2{
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.border-row3{
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}


.hidden {
    display: none !important;
}

.how-to img{
    height: 10px;
    width: 10px;
}

.end-text{
    font-size: 4rem;
}

.error{
    background-color: #f8de3c
}

.yellow{
    color: #f8de3c
}

.mini-cell{
    max-width: 4em;
    max-height: 4em;
}



.character-image{
    width: 3em;
    height: 3em;
}

.character-image-winner{
    width: 8em;
    height: 8em;
}

.text-winner{
    font-size: 3rem;
}

.players-bar{
    width: 100%;
}

.pd-mg-0{
    padding:0;
    margin:0
}

.chopper{
    background-image: url(../assets/chopper.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
}

.luffy{
    background-image: url(../assets/luffy.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
}

#nickname2:focus{
    background-color: #0b3075;
    color:white
}

#nickname:focus{
    background-color: #0b3075;
    color:white
}

.tag{
    border-color:#412a1e
}

@media (max-width: 750px) {
    .logo{
        font-size: 10rem;
    }
    .logo2{
        font-size: 4rem;
    }
    .start-button{
        margin-top: 4rem;
    }
}
@media (max-width: 461px) {
    .cell{
        height: 6em;
        width: 6em;
    }
}
@media (max-width: 425px) {
    .logo{
        font-size: 8rem;
    }
    .logo2{
        font-size: 3rem;
    }
}